{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">Inventory Dashboard</h1>

<div class="row mb-4">

    <div class="col-md-4">
        <div class="card shadow-sm p-3">
            <h5>Total Products</h5>
            <h2>{{ total_products }}</h2>
        </div>
    </div>

</div>

<div class="card shadow-sm p-3">

    <h3 class="mb-3">Products</h3>

    <table class="table table-striped">

        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>

        <tbody>

            {% for product in products %}

            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td>
                <td>${{ product.price }}</td>
                                <td>

                    <a
                        href="{% url 'update_product' product.id %}"
                        class="btn btn-sm btn-warning"
                    >
                        Edit
                    </a>

                    <a
                        href="{% url 'delete_product' product.id %}"
                        class="btn btn-sm btn-danger"
                    >
                        Delete
                    </a>

                </td>
                
            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}